:root {
    /* Colors */
    --bg: #FF8989;
    --bg-alt: #BB4444;
    --bg-alt-2: #FF8989;
    --bg-transparent: #ffffffe8;
    --border: 0.01rem solid #BB4444;
    --text: #BB4444;
    --text-alt: #FF8989;
  
    /* Can animations */
    --tl-1: url(../assets/feebz-animation/tl-1.png);
    --tl-2: url(../assets/feebz-animation/tl-2.png);
    --tl-3: url(../assets/feebz-animation/tl-3.png);
    --tl-4: url(../assets/feebz-animation/tl-4.png);
    --tl-5: url(../assets/feebz-animation/tl-5.png);
  
    --tr-1: url(../assets/feebz-animation/tr-1.png);
    --tr-2: url(../assets/feebz-animation/tr-2.png);
    --tr-3: url(../assets/feebz-animation/tr-3.png);
    --tr-4: url(../assets/feebz-animation/tr-4.png);
    --tr-5: url(../assets/feebz-animation/tr-5.png);
  
    --bl-1: url(../assets/feebz-animation/bl-1.png);
    --bl-2: url(../assets/feebz-animation/bl-2.png);
    --bl-3: url(../assets/feebz-animation/bl-3.png);
    --bl-4: url(../assets/feebz-animation/bl-4.png);
    --bl-5: url(../assets/feebz-animation/bl-5.png);
  
    --br-1: url(../assets/feebz-animation/br-1.png);
    --br-2: url(../assets/feebz-animation/br-2.png);
    --br-3: url(../assets/feebz-animation/br-3.png);
    --br-4: url(../assets/feebz-animation/br-4.png);
    --br-5: url(../assets/feebz-animation/br-5.png);

  }


